$c_black: #303030;
$c_white: #eee;
$c_grey: #666;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
  font-family: 'Montserrat', sans-serif;
  color: $c_black;
  input{
    font-family: "Montserrat";
  }
}

#prompt{
  border: 0px solid black;
  font-size: 32px;

  &:focus{
    border: 0px solid black;
    outline: 0px solid black;
  }
}

.note{
    width: 75px;
    height: 75px;
    background-color: $c_white;
    color: $c_grey;
    display: inline-block;
    margin: 2.5px;
    
    &:hover{

    }
    &:first-child{

    }
}

.settings{
  max-width: 140px;

  input[type="number"]{
    width: 30px;
  }
  input[type="range"]{
    width: 80px;
  }
}

.string{
  width: 75px;
  display: inline-block;
  margin: 2.5px;
}

.note-selected{
  &:hover{

  }
  width: 15px;
  height: 15px;
  display: block;
  border-radius: 50%;

}

.note-collection{
    display: grid;
    width: 100px;
    height: 100px;
}

tr, td{
    width: 25px;
    height: 25px;
    border: 1px black solid;
}

#fretboard{
    width: 75*7;
    height: 150px;
    overflow-y: scroll;
}


