$c_black: #303030;
$c_white: #eee;
$c_grey: #666;
$c_white2: #ddd;
$c_selected: #ffebcd;
$s_track: 15px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  font-family: 'Montserrat', sans-serif;
  color: $c_black;

  input {
    font-family: "Montserrat";
  }
}

#prompt {
  border: 0px solid black;
  font-size: 32px;

  &:focus {
    border: 0px solid black;
    outline: 0px solid black;
  }
}

.note {
  background-color: $c_white;
  color: $c_grey;
  display: inline-block;
  margin: 2.5px;
  margin-top: 0px;
  height: 50px;

  &:hover .note-option {
    display: block;
    position: absolute;
  }
}

#openString{
  display: flex;
  align-content: flex-start;
  padding-right: $s_track;

  & .note{
    flex: 1;
    background-color: $c_white2;

    & .note-selected{
      background-color: #FFA552;
    }
  }

}

.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200%;
  width: 100%;
  overflow: scroll;
  background-color: #eee;

  input[type="number"],
  input[type="range"] {
    position: relative;
    font-size: 10px;
    width: 70px;
    bottom: 4px;
    left: 7px;
    margin-right: 8px;
  }

  .setting-container {
    height: 32px;
    margin: 3px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}

.icon {
  width: 32px;
  height: 32px;
}

.string {
  display: inline-flex;
  flex: 1;
  flex-direction: column;
}

.note-selected {
  &:hover {
    background-color: #BA5624;
  }

  background-color: #FCDE9C;
}

tr,
td {
  width: 25px;
  height: 25px;
  border: 1px black solid;
}

#board{
  min-width: 300px;
}

#fretboard {
  align-content: flex-start;
  align-items: flex-start;
  overflow-x: hidden;
  display: flex;
  max-height: 375px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: $s_track;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #FFA552;
  }

}

.important-note-selected {
  background-color: #FFA552;
}

.hidden {
  display: none !important;
}